<mat-toolbar>
    <span class="logo"><mat-icon>movie</mat-icon></span>
  <span class="logoname">BookMyShow</span>
  <span class="spacer"></span>
  <div class="nav-links">
    <a routerLink="/dashboard/movies" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}"><mat-icon>theaters</mat-icon>Movies</a>
    <a ><mat-icon>person</mat-icon>Sign In</a>
    <a><mat-icon>exit_to_app</mat-icon>Sign Out</a>
    <a ><mat-icon>card_giftcard</mat-icon>giftcard</a>
  </div>
  </mat-toolbar>
